/* Kendra Mannes */
/* 03/04/2025 */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 20px;
}

p {
    font-size: 18px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    display: inline-block;
    width: 50%;
    margin: 10px auto;
}
